* {
    outline: 1px solid crimson;
    box-sizing: border-box;
}

#HUD {
    min-height: 5px;
    align-self: flex-start;
    align-items: center;
}

table {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

tr {
    align-self: flex-end;
}

td {
    padding: 2px;
    min-width: 5px;
    min-height: 5px;
    max-width: 5vw;
}

.player {
    background-color: rgba(252, 5, 5, 1);
    color: white;
}

.enemy {
    background-color: rgb(51, 8, 7, 1);
    color: rgb(255, 230, 6);
}

.decoy {
    background-color: rgb(63, 50, 250); 
    color: silver;
}