* {
    outline: 1px solid crimson;
    box-sizing: border-box;
}

td {
    padding: 2px;
    min-width: 5px;
    min-height: 5px;
}

.player {
    background-color: rgba(252, 5, 5, 1);
    color: white;
}

.enemy {
    background-color: rgb(51, 8, 7, 1);
    color: rgb(255, 230, 6);
}